<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Desarrollo de Plantilla Base{% endblock %}</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; background-color:rgb(247, 174, 241); }
        header, footer { background-color: #410; color: pink; text-align: center; padding: 10px; }
        nav a { color: pink; margin: 0 15px; text-decoration: none; }
        nav a:hover { text-decoration: underline; }
        main { padding: 20px; background-color: pink; max-width: 1000px; margin: 20px auto; border-radius: 10px; }
        img { max-width: 100%; border-radius: 10px; }
    </style>
</head>
<body>
    <header>
        <h1>Desarrollo de Plantilla Base</h1>
        <nav>
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('animales') }}">Animales Exóticos</a>
            <a href="{{ url_for('vehiculos') }}">Vehículos Antiguos</a>
            <a href="{{ url_for('maravillas') }}">Las Maravillas del Mundo</a>
            <a href="{{ url_for('registro') }}">registrate</a>
            <a href="{{ url_for('acerca') }}">Acerca de...</a>
            
                {% if sesion_iniciada %}
                    <li><a href="{{ url_for('cerrarsesion') }}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('iniciosesion') }}">Iniciar sesión</a></li>
                {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© Joselyn Daniela Gurrola Suárez. 5'D </p>
    </footer>
</body>
</html>
