{% extends 'base.html' %}
{% block title %}Las Maravillas del Mundo{% endblock %}
{% block content %}
<h2>Las 7 Maravillas del Mundo Moderno</h2>
<ul>
    <li>Chichén Itzá (México)</li>
    <img width="300" src="{{ url_for('static', filename='imagenes/chichen.webp') }}" alt="Chichén Itzá">
    <li>El Coliseo (Italia)</li>
    <img width="300"src="{{ url_for('static', filename='imagenes/colise.webp') }}" alt="Chichén Itzá">
    <li>La Gran Muralla China (China)</li>
    <img width="300"src="{{ url_for('static', filename='imagenes/muralla.webp') }}" alt="Chichén Itzá">
    <li>Machu Picchu (Perú)</li>
    <img width="300"src="{{ url_for('static', filename='imagenes/machu.webp') }}" alt="Chichén Itzá">
    <li>Petra (Jordania)</li>
    <img width="300"src="{{ url_for('static', filename='imagenes/petra.webp') }}" alt="Chichén Itzá">
    <li>El Cristo Redentor (Brasil)</li>
    <img width="300"src="{{ url_for('static', filename='imagenes/blasil.webp') }}" alt="Chichén Itzá">
    <li>Taj Mahal (India)</li>
    <img width="300"src="{{ url_for('static', filename='imagenes/india.webp') }}" alt="Chichén Itzá">
</ul>

{% endblock %}
