{% extends 'base.html' %}
{% block title %}Vehículos Antiguos{% endblock %}
{% block content %}
<h2>Historia del Automóvil</h2>
<p>Aqui podras ver algunos de los muchos autos que hubo: </p>

<ul>
    <li>Ford Modelo T (Ford)</li>
    <li>Volkswagen Beetle (Volkswagen)</li>
    <li>Chevrolet Bel Air (Chevrolet)</li>
    <li>Rolls-Royce Phantom (Rolls-Royce)</li>
    <li>Citroën 2CV (Citroën)</li>
</ul>

<video width="600" controls>
        <source src="{{ url_for('static', filename='videos/carros.mp4') }}" type="video/mp4">
    </video>
<img src="{{ url_for('static', filename='images/beetle.jpg') }}" alt="Beetle">
{% endblock %}
